[
    (
        text: "Wärst du offen für einen Dreier?",
    ),
    (
        text: "Wärst du offen für einen Vierer?",
    ),
    (
        text: "Ich habe homosexuelle/bisexuelle Züge",
    ),
    (
        text: "Ich finde die Geschlechtsteile von Tieren geil",
    ),
]