[
    (
        text: "Ich bin schon mal per Anhalter gefahren",
    ),
    (
        text: "Ich habe mich schon mindestens einen Monat am Stück vegan ernährt",
    ),
    (
        text: "Ich habe meine Eltern beim Sex erwischt",
    ),
    (
        text: "Ich stehe auf einen Mitspieler",
    ),
    (
        text: "Ich glaube, dass ein Mitspieler ein besseres Leben hat als ich",
    ),
    (
        text: "Ich wäre gerne berühmt",
    ),
    (
        text: "Ich habe einen Popel gegessen",
    ),
    (
        text: "Ich pinkle im Stehen",
    ),
    (
        text: "Ich bin schon gegen eine Laterne/Wand/etc gelaufen",
    ),
    (
        text: "Ich schlafe mit einem Kuscheltier im Bett",
    ),
    (
        text: "Ich bin der attraktivste Spieler",
    ),
    (
        text: "Ich bin der am wenigsten attraktive Spieler",
    ),
    (
        text: "Ich habe schon illegale Drogen genommen",
    ),
    (
        text: "Ich bin Raucher",
    ),
    (
        text: "Für meinen idealen Partner würde ich den Rest meines Lebens auf Sex verzichten",
    ),
    (
        text: "Für 1.000.000€ würde ich mit meinem Partner Schluss machen",
    ),
    (
        text: "Ich bin schon fremd gegangen",
    ),
    (
        text: "Ich hätte gerne order hatte eine Schönheits-OP",
    ),
    (
        text: "Ich führe ein Tagebuch",
    ),
    (
        text: "Ich wäre lieber ein Mann als eine Frau",
    ),
    (
        text: "Katzen sind bessere Haustiere als Hunde",
    ),
    (
        text: "Ich kann schlecht mit Geld umgehen",
    ),
    (
        text: "Ich fühle mich erwachsen",
    ),
]
