[
    (
        text: "Ich bin (zumindest leicht) bisexuell",
    ),
    (
        text: "Ich bin (zumindest leicht) asexuell",
    ),
    (
        text: "Ich bin einer offenen Beziehung abgeneigt",
    ),
    (
        text: "Intelligenz ist ein entscheidender Faktor bei meiner Partnerwahl",
    ),
    (
        text: "Geschwister von Freunden sind tabu",
    ),
    (
        text: "Mehr als 5 Jahre Altersunterschied sind kein Problem",
    ),
    (
        text: "Ich habe mich schon auf den ersten Blick verliebt",
    ),
    (
        text: "Ich habe Interesse an Swinging",
    ),
    (
        text: "Erwachsenheit ist mir bei einem Partner wichtig",
    ),
    (
        text: "Ich könnte mir eine Beziehung mit jemandem aus der Gruppe vorstellen",
    ),
    (
        text: "Äußere Werte sind wichtiger als innere",
    ),
]
