[
    (
        text: "Ich habe meinem Partner schon mal die Schambehaarung rasiert",
    ),
    (
        text: "Ich hatte schon mal Sex",
    ),
    (
        text: "Ich habe schon einmal Oralverkehr gehabt",
    ),
    (
        text: "Ich habe schon einmal geküsst",
    ),
    (
        text: "Ich war schon in einer Beziehung",
    ),
    (
        text: "Ich habe gerne One Night Stands",
    ),
    (
        text: "Ich habe eine sexuelle Erfahrung, die ich auf keinen Fall wiederholen möchte",
    ),
    (
        text: "Ich schaue regelmäßig Pornos",
    ),
    (
        text: "Ich finde Tentakel attraktiv",
    ),
    (
        text: "Ich finde Frauen mit kurzen Haaren attraktiv",
    ),
    (
        text: "Ich bin gerne nackt vor anderen",
    ),
    (
        text: "Ich hatte schon Sex in der Öffentlichkeit",
    ),
    (
        text: "Ich werde in meinem Leben mehr als 10 Sexualpartner haben",
    ),
    (
        text: "Ich habe Nackbilder von mir auf meinem Handy/Computer",
    ),
    (
        text: "Ich habe Nackbilder von einem (Ex-)Partner auf meinem Handy/Computer",
    ),
    (
        text: "Ich habe beim Sex schon an jemand anderen gedacht",
    ),
    (
        text: "Ich habe beim Masturbieren schon an jemanden aus der Gruppe gedacht",
    ),
    (
        text: "Ich masturbiere regelmäßig",
    ),
    (
        text: "Ich habe schon ein unerwünschtes Nackbild erhalten",
    ),
    (
        text: "Ich habe schon jemandem ein Nackbild geschickt",
    ),
    (
        text: "Dick-in-a-Box klingt nach einer lustigen/erotischen Idee",
    ),
    (
        text: "Ich war noch nie verliebt",
    ),
    (
        text: "Es gibt schmutzige Bilder/Videos von mir im Internet",
    ),
    (
        text: "Ich war schon in einer friends with benefits Beziehung",
    ),
    (
        text: "Ich würde die Gruppe gerne nackt sehen",
    ),
    (
        text: "Ich würde mich vor der Gruppe nackt ausziehen",
    ),
]
